.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1110px;
  margin-bottom: 160px;
  &_reversed {
    flex-direction: row-reverse;
  }
}

.productImg {
  width: 449.238px;
  height: 486px;
  padding: 23px 33px 44px 33px;
  border-radius: var(--border-radius-small);
  background: var(--color-background);
}

.textBox {
  display: flex;
  flex-direction: column;
  width: 445px;
  text-align: left;
  margin-top: 47px;
}

.textNewProduct {
  color: var(--color-brand);
  font-size: var(--font-size-xs);
  letter-spacing: 10px;
  text-transform: uppercase;
}

.productHeader {
  width: 350px;
  color: var(--color-primary);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
  margin: 16px 0 0 0;
}

.content {
  width: 445px;
  color: var(--color-primary);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  margin-top: 32px;
}

.textPrice {
  color: var(--color-primary);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 62px;
  &.Counter {
    margin-right: 16px;
  }
}
.container > .container {
  background-color: yellow;
}
