.box {
  width: 1110px;
  height: 571px;
  margin-top: 180px;
  margin-bottom: 40px;
}

.header {
  color: var(--color-primary);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.143px;
  text-transform: uppercase;
  margin: 0;
}

.productCardBox {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
