.box {
  margin-top: 200px;
  width: 1110px;
  height: 588px;
  margin-bottom: 200px;
  margin-inline: calc((100% - 1110px) / 2);
}

.header {
  letter-spacing: 1.42857px;
  text-transform: uppercase;
}

.marginRight {
  margin-right: 100px;
}

.img {
  width: 540px;
  height: 588px;
  border-radius: var(--border-radius-small);
}

.mark {
  background: var(--color-transparent);
  color: var(--color-brand);
}
