.box {
  padding-inline: 280px;
  padding-block: 150px;
}

.header {
  letter-spacing: 1.42857px;
  text-transform: uppercase;
}

.img {
  max-width: 540px;
  height: 588px;
  border-radius: var(--border-radius-small);
}

.mark {
  background: var(--color-transparent);
  color: var(--color-brand);
}

@media (max-width: 1050px) {
  .box {
    margin: 0;
    margin-inline: calc((100% - 900px) / 2);
    text-align: center;
  }
  .img {
    max-width: 100vh;
    max-height: 350px;
  }
  .padding {
    padding-inline: 70px;
  }
}
