.box {
  padding: 25px;
  width: 60%;
  background-color: var(--color-background);
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.itemsBox {
  max-height: 55px;
  overflow: hidden;
  transition: max-height 1000ms ease-in-out;
}

.itemsBoxActive {
  max-height: 1000px;
  transition: max-height 1000ms ease-in-out;
}

.greyBackground {
  background-color: var(--color-background);
  padding-block: 10px;
}

.line {
  width: 100%;
  height: 1px;
  opacity: 0.08;
  background: var(--color-primary);
  margin-block: 12px;
}

.buttonText {
  width: 100%;
  color: var(--color-primary-opacity);
  font-size: var(--font-size-xxs);
  border: none;
  font-weight: 700;
  letter-spacing: -0.214px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover {
    color: var(--color-brand);
  }
}
