.box {
  display: flex;
  flex-direction: column;
  margin-top: 79px;
  margin-left: calc((100% - 1100px) / 2);
}

.boxDescription {
  display: flex;
  flex-direction: row;
  width: 1110px;
  text-align: left;
}
