.box {
  width: 635px;
  height: 318px;
}

.header {
  letter-spacing: 1.143px;
  text-transform: uppercase;
}

.listElement {
  margin-bottom: 8px;
  &:first-of-type {
    margin-top: 28px;
  }
}

.marginRight {
  margin-right: 24px;
}
