.box {
  width: 635px;
  height: 318px;
}

.header {
  color: var(--color-primary);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.143px;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}

.list {
  padding: 0;
}

.listElement {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.quantityText {
  color: var(--color-brand);
  font-size: var(--font-size-s);
  font-weight: 700;
  line-height: 25px;
  margin: 0px 24px 0px 0px;
}

.text {
  color: var(--color-primary);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  margin: 0px;
}
