.text {
  margin: 0;
}

.hover:hover {
  color: var(--color-brand);
}

.color {
  &-primary {
    color: var(--color-primary);
  }
  &-brand {
    color: var(--color-brand);
  }
  &-secondary {
    color: var(--color-secondary);
  }
  &-error {
    color: var(--color-error);
  }
}

.font-size {
  &-xxs {
    font-size: var(--font-size-xxs);
  }
  &-xs {
    font-size: var(--font-size-xs);
  }
  &-s {
    font-size: var(--font-size-s);
  }
  &-m {
    font-size: var(--font-size-m);
  }
  &-l {
    font-size: var(--font-size-l);
  }
  &-xl {
    font-size: var(--font-size-l);
  }
}

.font-weight {
  &-500 {
    font-weight: 500;
  }
  &-700 {
    font-weight: 700;
  }
}

.line-height {
  &-xs {
    line-height: var(--line-height-xs);
  }
  &-s {
    line-height: var(--line-height-s);
  }
  &-m {
    line-height: var(--line-height-m);
  }
  &-l {
    line-height: var(--line-height-l);
  }
}

.opacity {
  &-s {
    opacity: 0.25;
  }
  &-m {
    opacity: 0.5;
  }
  &-l {
    opacity: 0.75;
  }
}
