.box {
  width: 100%;
  height: 560px;
}

.contentBox {
  width: 100%;
  height: 560px;
  background-color: var(--color-brand);
  border-radius: var(--border-radius-small);
  background-image: url(../../../../images/home/desktop/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: -149px -36px;
}

.img {
  background-image: url(../../../../images/home/desktop/image-speaker-zx9.png);
  width: 410.23px;
  height: 493px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 30px;
  left: 117px;
  bottom: 0px;
}

.container {
  width: 349px;
  height: 303px;
  text-align: left;
  padding: 133px 90px 120px 0;
}

.header {
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 740px) {
  .img {
    background-image: url(../../../../images/home/tablet/image-speaker-zx9.png);
  }
  .box {
    width: 689px;
    height: 720px;
  }
}
