.box {
  width: 100%;
  height: 560px;
  margin-top: 168px;
}

.contentBox {
  position: absolute;
  left: calc((100% - 1110px) / 2);
  width: 1110px;
  height: 560px;
  background-color: var(--color-brand);
  border-radius: var(--border-radius-small);
  background-image: url(../../../../images/home/desktop/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: -149px -36px;
}

.img {
  position: absolute;
  background-image: url(../../../../images/home/desktop/image-speaker-zx9.png);
  width: 410.23px;
  height: 493px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 30px;
  left: 117px;
  bottom: 0px;
}

.container {
  position: absolute;
  width: 349px;
  height: 303px;
  right: 95px;
  top: 135px;
  text-align: left;
}

.header {
  letter-spacing: 2px;
  text-transform: uppercase;
}
