.box {
  background-image: url(../../../images/home/desktop/image-hero.jpg);
  background-position: right 0px;
  background-size: cover;
  width: 100%;
  height: 830px;
}

.content {
  text-align: left;
  position: relative;
  left: calc((100% - 1110px) / 2);
  top: 161px;
  width: 378px;
}

.title {
  letter-spacing: 2px;
  text-transform: uppercase;
}
