.background {
  background: var(--color-background);
  height: 204px;
  width: 350px;
  margin-top: 80px;
  border-radius: var(--border-radius-small);
  transition: all 0.2s ease-in;
  &:hover {
    cursor: pointer;
  }
}

.content {
  position: relative;
  top: -80px;
}

.img {
  width: 184px;
  height: 160px;
}

.heading {
  letter-spacing: 1.28571px;
  text-transform: uppercase;
}

.container {
  height: 18px;
  width: 57.3px;
  margin-top: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.arrow {
  height: 10px;
  width: 5px;
  margin-left: 10px;
}

@media (max-width: 1160px) {
  .background {
    width: 223px;
    height: 165px;
  }
}
