.box {
  padding-inline: 15%;
}

.content {
  height: 320px;
  background-image: url(../../../../images/home/desktop/image-speaker-zx7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: var(--border-radius-small);
}

.text {
  padding-block: 99px;
  padding-left: 99px;
}

.header {
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 1250px) {
  .content {
    background-image: url(../../../../images/home/tablet/image-speaker-zx7.jpg);
  }
}

@media (max-width: 1120px) {
  .box {
    padding-inline: 5%;
  }
}

@media (max-width: 700px) {
  .content {
    background-image: url(../../../../images/home/mobile/image-speaker-zx7.jpg);
  }
  .text {
    padding-left: 10%;
  }
}
