.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1110px;
  margin-bottom: 160px;
}

.box:nth-of-type(2n) {
  flex-direction: row-reverse;
  margin-right: calc((100% - 1440px) / 2);
}

.productImg {
  width: 449.238px;
  height: 486px;
  padding: 23px 33px 44px 33px;
  border-radius: var(--border-radius-small);
  background: #f1f1f1;
}

.textBox {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 343px;
  text-align: left;
  margin-top: 47px;
}

.textNewProduct {
  color: var(--color-brand);
  font-size: var(--font-size-xs);
  letter-spacing: 10px;
  text-transform: uppercase;
}

.productHeader {
  width: 350px;
  color: var(--color-primary);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
  margin: 16px 0 0 0;
}

.content {
  width: 445px;
  color: var(--color-primary);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  margin-top: 32px;
}

.buttonProduct {
  width: 160px;
  height: 48px;
  background: var(--color-brand);
  color: #fff;
  font-size: var(--font-size-xxs);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.textPrice {
  color: var(--color-primary);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}

.boxNumber {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 48px;
  background: #f1f1f1;
  margin-right: 16px;
}

.shoppingBox {
  display: flex;
  flex-direction: row;
  margin-top: 62px;
}

.mathSign {
  padding: 10px;
  cursor: pointer;
  color: var(--color-primary);
  text-align: center;
  font-size: var(--font-size-xxs);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.25;
}
