.box {
  margin-top: 48px;
  height: 320px;
  width: 100%;
}

.content {
  position: absolute;
  left: calc((100% - 1110px) / 2);
  width: 1110px;
  height: 320px;
}

.img {
  background-image: url(../../../../images/home/desktop/image-earphones-yx1.jpg);
  width: 540px;
  height: 320px;
  border-radius: var(--border-radius-small);
}

.container {
  width: 540px;
  height: 320px;
  margin-left: 30px;
  background: var(--color-background);
  border-radius: var(--border-radius-small);
}

.text {
  padding: 101px;
}

.header {
  letter-spacing: 2px;
  text-transform: uppercase;
}
