.cartHeader {
  letter-spacing: 1.286px;
  text-transform: uppercase;
}

.button {
  color: var(--color-primary-opacity);
  text-decoration: underline;
  text-decoration-thickness: 0.1px;
  background-color: transparent;
  font-size: var(--font-size-s);
  line-height: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover {
    color: var(--color-brand);
  }
}
