.box {
  width: 100%;
  height: 365px;
  background-color: var(--color-footer);
}

.divider {
  position: relative;
  top: 0px;
  left: calc((100% - 1110px) / 2);
  width: 101px;
  height: 4px;
  background-color: var(--color-brand);
}

.navigation {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 75px;
  left: calc((100% - 1110px) / 2);
  width: 1110px;
  height: 25px;
}

.categories {
  width: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 538px;
  font-weight: 700;
  font-size: var(--font-size-xxs);
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.category:hover {
  color: var(--color-brand);
  cursor: pointer;
}

.logo {
  height: 25px;
  width: 143px;
}

.description {
  text-align: left;
  position: relative;
  left: calc((100% - 1110px) / 2);
  top: 136px;
  height: 100px;
  width: 540px;
  font-weight: 500;
  font-size: var(--font-size-s);
  line-height: 25px;
  color: var(--color-secondary);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.copyrightBox {
  position: relative;
  top: 126px;
  left: 138px;
  height: 25px;
  width: 540px;
  font-weight: 700;
  font-size: var(--font-size-s);
  line-height: 25px;
  color: var(--color-secondary);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.socialMediaBox {
  position: relative;
  left: 1300px;
  top: 105px;
  width: 104px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon {
  fill: var(--color-secondary);
}

.icon:hover {
  cursor: pointer;
  fill: var(--color-brand);
}
