.box {
  margin-top: 120px;
  width: 100%;
}

.categoriesBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}
