.box {
  width: 1110px;
  &-reversed {
    flex-direction: row-reverse;
  }
}

.productImg {
  width: 449.238px;
  height: 486px;
  padding: 23px 33px 44px 33px;
  border-radius: var(--border-radius-small);
  background: var(--color-background);
}

.textWidth {
  width: 445px;
}

.textNewProduct {
  letter-spacing: 10px;
}

.header {
  letter-spacing: 1.429px;
  text-transform: uppercase;
}

.textPrice {
  letter-spacing: 1.286px;
}
