.box {
  color: var(--color-secondary);
  height: 95px;
  width: 100%;
  background-color: var(--color-primary);
}

.content {
  top: 32px;
  margin-top: 35px;
  padding-inline: 15%;
}

.logo {
  width: 143px;
  height: 25px;
}

.cartIcon {
  padding: 2px;
  width: 23.3px;
  height: 20px;
  fill: var(--color-secondary);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.cartIcon:hover {
  fill: var(--color-brand);
}

.divider {
  height: 1px;
  margin-inline: 15%;
  background: var(--color-secondary);
  mix-blend-mode: normal;
  opacity: 0.2;
}

.displayNone {
  background-color: transparent;
  color: none;
  border: none;
}

@media (max-width: 1120px) {
  .content {
    padding-inline: 40px;
  }
  .divider {
    margin-inline: 40px;
  }
}
