.boxHome {
  background-image: url(../../images/home/desktop/image-hero.jpg);
  background-position: right 0px;
  background-size: cover;
  color: var(--color-secondary);
  height: 95px;
  width: 100%;
  background-color: var(--color-primary);
}

.boxProduct {
  color: var(--color-secondary);
  height: 95px;
  width: 100%;
  background-color: var(--color-primary);
}

.content {
  position: relative;
  top: 32px;
  left: calc((100% - 1110px) / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 28px;
  width: 1110px;
}

.logo {
  width: 143px;
  height: 25px;
}

.categories {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  width: 429px;
  justify-content: space-between;
  font-weight: 700;
  font-size: var(--font-size-xxs);
  line-height: 25px;
  letter-spacing: 2px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.category {
  transition: all 0.2s ease-in;
}
.category:hover {
  color: var(--color-brand);
  transition: all 0.2s ease-in;
}

.cartIcon {
  padding: 2px;
  width: 23.3px;
  height: 20px;
  fill: var(--color-secondary);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.cartIcon:hover {
  fill: var(--color-brand);
}

.divider {
  position: relative;
  width: 1110px;
  height: 1px;
  left: calc((100% - 1110px) / 2);
  top: 66px;
  background: var(--color-secondary);
  mix-blend-mode: normal;
  opacity: 0.2;
}

.displayNone {
  background-color: transparent;
  color: none;
  border: none;
}
