.box {
  color: var(--color-secondary);
  height: 95px;
  width: 100%;
  background-color: var(--color-primary);
  justify-content: space-between;
}

.content {
  top: 32px;
  width: 1110px;
  margin-top: 35px;
  margin-left: calc((100% - 1110px) / 2);
}

.logo {
  width: 143px;
  height: 25px;
}

.cartIcon {
  padding: 2px;
  width: 23.3px;
  height: 20px;
  fill: var(--color-secondary);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.cartIcon:hover {
  fill: var(--color-brand);
}

.divider {
  width: 1110px;
  height: 1px;
  margin-left: calc((100% - 1110px) / 2);
  background: var(--color-secondary);
  mix-blend-mode: normal;
  opacity: 0.2;
}

.displayNone {
  background-color: transparent;
  color: none;
  border: none;
}
