.box {
  width: 1110px;
  margin-left: calc((100% - 1110px) / 2);
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}

.img {
  height: 150px;
  height: 150px;
}

.hover {
  &:hover {
    color: var(--color-primary);
    opacity: 0.5;
  }
}
