.box {
  background-color: var(--color-footer);
  min-height: 365px;
}

.container {
  margin-left: calc((100% - 1110px) / 2);
  margin-top: 50px;
}

.divider {
  position: absolute;
  left: calc((100% - 1110px) / 2);
  width: 101px;
  height: 4px;
  background-color: var(--color-brand);
}

.marginRight {
  margin-right: 130px;
}

.categories {
  width: 430px;
  font-weight: 700;
  font-size: var(--font-size-xxs);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-secondary);
  cursor: pointer;
  margin-bottom: 120px;
}

.category {
  transition: all 0.2s ease-in;
}

.category:hover {
  color: var(--color-brand);
  transition: all 0.2s ease-in;
}

.logo {
  height: 25px;
  width: 143px;
  margin-bottom: 55px;
}

.textContainer {
  width: 540px;
  margin-bottom: 56px;
}

.icon {
  fill: var(--color-secondary);
  transition: all 0.2s ease-in;
  margin-right: 16px;
  &:last-child {
    margin-right: 0px;
  }
}

.icon:hover {
  cursor: pointer;
  fill: var(--color-brand);
}
