.box {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--color-footer);
  padding-inline: 65px;
  padding-bottom: 75px;
  min-height: 365px;
}

.divider {
  width: 101px;
  height: 4px;
  background-color: var(--color-brand);
}
.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 75px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.space {
  justify-content: space-around;
}

.categories {
  width: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  font-size: var(--font-size-xxs);
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-secondary);
  cursor: pointer;
}

.category {
  transition: all 0.2s ease-in;
}

.category:hover {
  color: var(--color-brand);
  transition: all 0.2s ease-in;
}

.logo {
  height: 25px;
  width: 143px;
}

.textContainer {
  height: 100px;
  width: 540px;
}

.copyrightBox {
  height: 25px;
  width: 540px;
}

.socialMediaBox {
  width: 104px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon {
  fill: var(--color-secondary);
  transition: all 0.2s ease-in;
}

.icon:hover {
  cursor: pointer;
  fill: var(--color-brand);
}
