.box {
  background-color: var(--color-footer);
  min-height: 335px;
}

.container {
  padding-inline: 15%;
  margin-top: 50px;
}

.divider {
  position: absolute;
  left: 15%;
  width: 101px;
  height: 4px;
  background-color: var(--color-brand);
}

.logo {
  height: 25px;
  width: 143px;
}

.textWidth {
  max-width: 540px;
}

.fullWidth {
  width: 100%;
}

@media (max-width: 1050px) {
  .container {
    margin-bottom: 5%;
    padding-inline: 5%;
  }
}
