body {
  margin: 0;
  font-family: "Manrope";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.background {
  &-page {
    background-color: var(--color-secondary);
  }
  &-checkout {
    background-color: #f1f1f1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Manrope", monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-brand: #d87d4a;
  --color-background: #f1f1f1;
  --color-transparent: transparent;
  --color-footer: #101010;
  --color-primary-opacity: #4c4c4c;
  --color-brand-opacity: #fbaf85;
  --color-input-border: #cfcfcf;
  --color-error: #cd2c2c;

  --font-size-xxs: 13px;
  --font-size-xs: 14px;
  --font-size-s: 15px;
  --font-size-m: 18px;
  --font-size-l: 28px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;
  --font-size-3xl: 56px;

  --border-radius-small: 8px;
  --border-radius-circle: 100%;

  --line-height-xs: 19px;
  --line-height-s: 25px;
  --line-height-m: 36px;
  --line-height-l: 44px;
  --line-height-xl: 58px;

  --breakpoint-s: 650px;
  --breakpoint-m: 760px;
  --breakpoint-l: 1120px;
  --breakpoint-xl: 1800px;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 500ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}
