.box {
  border-radius: var(--border-radius-small);
  background: var(--color-secondary);
  padding: 48px;
}

.header {
  color: var(--color-primary);
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.143px;
  text-transform: uppercase;
}

.text {
  color: var(--color-primary-opacity);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: 25px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.totalBox {
  padding: 25px;
  width: 30%;
  background-color: var(--color-primary);
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}

.greyText {
  color: var(--color-primary-opacity);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: 25px;
}

.priceText {
  color: var(--color-secondary);
  font-size: var(--font-size-m);
  font-weight: 700;
  text-transform: uppercase;
}

.smallText {
  color: var(--color-primary-opacity);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  letter-spacing: -0.214px;
  text-align: center;
}

.line {
  width: 100%;
  height: 1px;
  opacity: 0.08;
  background: var(--color-primary);
  margin-block: 12px;
}

.itemImg {
  width: 50px;
  height: 50px;
}

.boxVertical {
  display: flex;
  flex-direction: column;
}

.boxHorizontalSpace {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 16px;
}

.boxHorizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.itemName {
  color: var(--color-primary);
  font-size: var(--font-size-s);
  font-weight: 700;
  line-height: 25px;
  margin: 0;
}

.itemPrice {
  color: var(--color-primary-opacity);
  font-size: var(--font-size-xs);
  font-weight: 700;
  line-height: 25px;
  margin: 0;
}

.itemQuantity {
  color: var(--color-primary-opacity);
  font-size: var(--font-size-s);
  font-weight: 700;
  line-height: 25px;
}
