.box {
  border-radius: var(--border-radius-small);
  background: var(--color-secondary);
  padding: 48px;
}

.header {
  letter-spacing: 1.143px;
  text-transform: uppercase;
}

.text {
  color: var(--color-primary-opacity);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: 25px;
}

.container {
  width: 100%;
  transition: all linear 0.5s;
  overflow: hidden;
}

.totalBox {
  padding: 25px;
  width: 30%;
  background-color: var(--color-primary);
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}
