.box {
  width: 350px;
  height: 471px;
  display: flex;
  flex-direction: column;
}

.header {
  color: var(--color-primary);
  text-align: center;
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 1.714px;
  text-transform: uppercase;
  margin: 40px 0 32px 0;
}

.button {
  width: 160px;
  height: 48px;
  background: var(--color-brand);
  color: #fff;
  font-size: var(--font-size-xxs);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  align-self: center;
}

.img {
  width: 350px;
  height: 318px;
}
