.box {
  height: 239px;
  background-color: var(--color-primary);
}

.header {
  position: relative;
  top: 100px;
  color: #fff;
  text-align: center;
  font-size: var(--font-size-xxl);
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
  margin: 0px;
}
