.box {
  width: 730px;
  height: 100%;
  border-radius: 8px;
  background: var(--color-secondary);
  border-radius: var(--border-radius-small);
  padding: 30px;
}

.header {
  color: var(--color-primary);
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.143px;
  text-transform: uppercase;
}

.formTitle {
  color: var(--color-brand);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.929px;
  text-transform: uppercase;
  margin-top: 54px;
}

.inputsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.radioInputsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 24px 18px;
}

.text {
  width: 100%;
  color: var(--color-primary);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  letter-spacing: -0.214px;
  margin-bottom: 9px;
  margin-right: 16px;
}

.paymentDetailsBox {
  display: flex;
  flex-direction: row;
}

.radioInputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details {
  color: var(--color-primary-opacity);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: 25px;
}

.icon {
  width: 48px;
  height: 48px;
  margin-right: 32px;
}
