.box {
  width: 100%;
  height: auto;
}

.header {
  text-align: center;
  letter-spacing: 1.714px;
  text-transform: uppercase;
}

.img {
  width: 320px;
  height: auto;
  border-radius: var(--border-radius-small);
  object-fit: cover;
}
@media (max-width: 1380px) {
  .img {
    width: 280px;
  }
}

@media (max-width: 1260px) {
  .img {
    width: 230px;
  }
}
