.box {
  width: 350px;
  height: 471px;
  display: flex;
  flex-direction: column;
}

.header {
  color: var(--color-primary);
  text-align: center;
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 1.714px;
  text-transform: uppercase;
  margin: 40px 0 32px 0;
}

.img {
  width: 350px;
  height: 318px;
}
