.box {
  width: 350px;
}

.header {
  text-align: center;
  letter-spacing: 1.714px;
  text-transform: uppercase;
}

.img {
  width: 320px;
  height: 318px;
  border-radius: var(--border-radius-small);
}
