.img {
  height: 50px;
  width: 50px;
  padding: 12px;
  background-color: var(--color-background);
  border-radius: var(--border-radius-small);
}

.containerColumn {
  display: flex;
  flex-direction: column;
}

.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.priceText {
  color: var(--color-primary-opacity);
  font-size: var(--font-size-xs);
  font-weight: 700;
  line-height: 25px;
  margin: 0;
}

.name {
  color: var(--color-primary);
  font-size: var(--font-size-xs);
  font-weight: 700;
  line-height: 25px;
  margin: 0;
}
