.box {
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.width {
  width: 100%;
}

.img {
  height: 50px;
  width: 50px;
  padding: 12px;
  background-color: var(--color-background);
  border-radius: var(--border-radius-small);
  margin-right: 16px;
}

.priceText {
  color: var(--color-primary-opacity);
  font-size: var(--font-size-xs);
  font-weight: 700;
  line-height: 25px;
  margin: 0;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: var(--color-secondary);
  opacity: 0.25;
}

.deleteBox {
  border-radius: var(--border-radius-small);
  height: 50px;
  padding: 10px;
  text-align: center;
  background-color: var(--color-error);
}
.button {
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--color-secondary);
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.75;
}
.button:hover {
  opacity: 1;
}

.transition-fade {
  transition: opacity 0.5s ease-in;
  opacity: 1;
}

.transition-fade-hide {
  opacity: 0;
}
